.main-footer{
    height: 25%;
    text-align: center;
    background-color: var(--color-amarelo);
    padding: 30px 0;
    color: white;
}

.main-footer h3{
    font-size: 4.5vw;
    font-weight: 400;
}

.main-footer a{
    font-size: 3.75vw;
    display: inline-flex;
    align-items: center;
    color: white;
    margin: 10px;
}

.main-footer img{
    filter: invert();
}