.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    color: white;

    font-size: 4.5vw;
}


.nav-button input{
    position: absolute;
    cursor: pointer;
    left: -900000px;
    top: -900000px;
    opacity: 0;
}

.nav-button label{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-button input + label{
    cursor: pointer;
}
