.top-header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 5vh;
    position: relative;
    z-index: 10;
}

.top-header .toldo{
    display: block;
    height: 7vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    border-radius: 0 0 35% 35%;
}

.top-header .toldo:nth-child(odd){
    background-color: white;
}
.top-header .toldo:nth-child(even){
    background-color: #F6A7C1;
}
